In [77]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Files to Load
schools = 'Resources/schools_complete.csv'
students = 'Resources/students_complete.csv'

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(schools)
student_data = pd.read_csv(students)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [78]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [79]:
school_data_complete.describe() #complete number breakdown

,Student ID,reading_score,math_score,School ID,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

In [80]:
math_avg = school_data_complete["math_score"].mean() # math avg
math_avg

78.98537145774827

In [81]:
read_avg = school_data_complete["reading_score"].mean() # reading avg
read_avg

81.87784018381414

In [122]:
total_schools = school_data_complete["school_name"].unique() #total num of schools
#totalschools = pd.DataFrame({total_schools})
total_schools
#len(total_schools)

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [218]:
total_budget = school_data_complete["budget"].unique() #total budget
totalbud = total_budget.sum()
currency = "${:,.2f}".format(int(totalbud))
print(currency)

$24,649,428.00

In [84]:
total_students = school_data_complete["gender"].value_counts() #total num of students
totalstud = total_students.sum()
studformat = "{:,}".format(int(totalstud))
print(studformat)

39,170

In [85]:
pass_math = school_data_complete.loc[school_data_complete["math_score"]>= 70, :]
numb_passmath = pass_math["student_name"].value_counts()
math_per = (numb_passmath.sum()/39170)*100
print(math_per)

74.9808526933878

In [86]:
pass_read = school_data_complete.loc[school_data_complete["reading_score"]>= 70, :]
numb_passread = pass_read["student_name"].value_counts()
read_per = (numb_passread.sum()/39170)*100
print(read_per)

85.80546336482001

In [87]:

pass_total = school_data_complete.loc[(school_data_complete["math_score"]>= 70)& (school_data_complete["reading_score"]>= 70), :]
numbpass_total = pass_total["student_name"].value_counts()
pass_per = (numbpass_total.sum()/39170)*100
print(pass_per)

65.17232575950983

In [88]:
district_summary = pd.DataFrame({"Total Schools": [len(total_schools)], "Total Students": [studformat], "Total Budget": [currency], "Average Math Score": [math_avg], "Average Reading Score": [read_avg], "% Passing Math": [math_per], "% Passing Reading": [read_per], "% Overall Passing": [pass_per]})
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [248]:
types = school_data.set_index(["school_name"])["type"]
types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [250]:
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [251]:
per_school_counts = school_data_complete["school_name"].value_counts()
per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [235]:
school_summary = pd.DataFrame({"School Name": ["school_name"], "Type":["type"], "TTL Students":["ttl_stds"]})
school_summary = school_data.set_index(["school_name"])
school_summary = school_summary.rename(columns = {"school_name": " ", "type": "Type", "size": " Total Students", "budget": "Total School's Budget"}, index={"school_name": "  "})
school_summary.sort_index()

,School ID,Type,Total Students,Total School's Budget
school_name,,,,
Bailey High School,7,District,4976,3124928
Cabrera High School,6,Charter,1858,1081356
Figueroa High School,1,District,2949,1884411
Ford High School,13,District,2739,1763916
Griffin High School,4,Charter,1468,917500
Hernandez High School,3,District,4635,3022020
Holden High School,8,Charter,427,248087
Huang High School,0,District,2917,1910635
Johnson High School,12,District,4761,3094650
Pena High School,9,Charter,962,585858
Rodriguez High School,11,District,3999,2547363
Shelton High School,2,Charter,1761,1056600
Thomas High School,14,Charter,1635,1043130
Wilson High School,5,Charter,2283,1319574
Wright High School,10,Charter,1800,1049400