In [220]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Files to Load
schools = 'Resources/schools_complete.csv'
students = 'Resources/students_complete.csv'

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(schools)
student_data = pd.read_csv(students)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [221]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [222]:
school_data_complete.describe() #complete number breakdown

,Student ID,reading_score,math_score,School ID,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

In [223]:
math_avg = school_data_complete["math_score"].mean() # math avg
math_avg

78.98537145774827

In [224]:
read_avg = school_data_complete["reading_score"].mean() # reading avg
read_avg

81.87784018381414

In [225]:
total_schools = school_data_complete["school_name"].unique() #total num of schools
len(total_schools)

15

In [226]:
total_budget = school_data_complete["budget"].unique() #total budget
totalbud = total_budget.sum()
currency = "${:,.2f}".format(int(totalbud))
print(currency)

$24,649,428.00

In [227]:
total_students = school_data_complete["gender"].value_counts() #total num of students
totalstud = total_students.sum()
studformat = "{:,}".format(int(totalstud))
print(studformat)

39,170

In [228]:
pass_math = school_data_complete.loc[school_data_complete["math_score"]>= 70, :]
numb_passmath = pass_math["student_name"].value_counts()
math_per = (numb_passmath.sum()/totalstud)*100
print(math_per)

74.9808526933878

In [229]:
pass_read = school_data_complete.loc[school_data_complete["reading_score"]>= 70, :]
numb_passread = pass_read["student_name"].value_counts()
read_per = (numb_passread.sum()/totalstud)*100
print(read_per)

85.80546336482001

In [230]:
pass_total = school_data_complete.loc[(school_data_complete["math_score"]>= 70) & (school_data_complete["reading_score"]>= 70), :]
numbpass_total = pass_total["student_name"].value_counts()
pass_per = (numbpass_total.sum()/totalstud)*100
print(pass_per)

65.17232575950983

In [231]:
district_summary = pd.DataFrame({"Total Schools": [len(total_schools)], "Total Students": [studformat], "Total Budget": [currency], "Average Math Score": [math_avg], "Average Reading Score": [read_avg], "% Passing Math": [math_per], "% Passing Reading": [read_per], "% Overall Passing": [pass_per]})
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [232]:
school_types = school_data.set_index(["school_name"])["type"] #SCHOOL TYPES
school_types #Each School Type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [233]:
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"] #EACH SCHOOL BUDGET
per_school_budget #Budget per School

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [234]:
per_school_counts = school_data_complete["school_name"].value_counts() #NUMB OF STUDENTS PER SCHL
per_school_counts #School Population

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [235]:
budget_per_stud = per_school_budget / per_school_counts #AMT PER STUD
#budget_per_studs = "${:,.2f}".format((budget_per_stud))
print(budget_per_stud) #Budget per Student

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [236]:
avg_math_scores = school_data_complete.groupby(["school_name"]).mean()["math_score"]#AVG MATH SCORES
avg_math_scores #Average Math Scores per school

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [237]:
avg_read_scores = school_data_complete.groupby(["school_name"]).mean()["reading_score"]#AVG READ SCORES
avg_read_scores #Average Reading Scores per school

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [238]:
pass_math = school_data_complete.loc[school_data_complete["math_score"]>= 70]
grp_pass_math = pass_math.groupby(["school_name"])
count_pass_math = grp_pass_math.math_score.count()
avg_pass_math = (count_pass_math / per_school_counts) *100
avg_pass_math #Average of Score of students who passed Math

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [239]:
pass_read = school_data_complete.loc[school_data_complete["reading_score"]>= 70]
grp_pass_read = pass_read.groupby(["school_name"])
count_pass_read = grp_pass_read.reading_score.count()
avg_pass_read = (count_pass_read / per_school_counts) *100
avg_pass_read #Average Score for Students who passed Reading

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [240]:
ttl_per_pass = school_data_complete.loc[(school_data_complete["reading_score"]>= 70) & (school_data_complete["math_score"]>= 70)]
grp_ttl_pass = ttl_per_pass.groupby(["school_name"]).count()
group_ttl_pass = (grp_ttl_pass.math_score / per_school_counts)*100
group_ttl_pass #Percent of Students who passed both Reading/Math

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [241]:
school_summary = pd.DataFrame({"School Types": school_types, "Total Students": per_school_counts,"Total Student Budget":per_school_budget, "Per Student Budget": budget_per_stud, "Average Math Score": avg_math_scores, "Average Reading Score": avg_read_scores, "% Pass Math":avg_pass_math, "% Pass Reading": avg_pass_read, "% Overall Passing": group_ttl_pass})
school_summary # School Summary DataFrame

,School Types,Total Students,Total Student Budget,Per Student Budget,Average Math Score,Average Reading Score,% Pass Math,% Pass Reading,% Overall Passing
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [242]:
Top5 = school_summary.sort_values(by=["% Overall Passing"], ascending=False)[["School Types","Total Students","Total Student Budget","Per Student Budget","Average Math Score", "Average Reading Score","% Pass Math", "% Pass Reading","% Overall Passing"]]
Top5.head(5)

,School Types,Total Students,Total Student Budget,Per Student Budget,Average Math Score,Average Reading Score,% Pass Math,% Pass Reading,% Overall Passing
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

In [243]:
Bottom5 = school_summary.sort_values(by=["% Overall Passing"])[["School Types","Total Students","Total Student Budget","Per Student Budget","Average Math Score", "Average Reading Score","% Pass Math", "% Pass Reading","% Overall Passing"]]
Bottom5.head(5)

,School Types,Total Students,Total Student Budget,Per Student Budget,Average Math Score,Average Reading Score,% Pass Math,% Pass Reading,% Overall Passing
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

In [244]:
freshmen = school_data_complete.loc[school_data_complete["grade"]== "9th"]
freshmen_math = freshmen.groupby(["school_name"])
avg_fresh_math = freshmen_math.math_score.mean()
avg_fresh_math

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [245]:
sophomore = school_data_complete.loc[school_data_complete["grade"]== "10th"]
sophomore_math = sophomore.groupby(["school_name"])
avg_soph_math = sophomore_math.math_score.mean()
avg_soph_math

school_name
Bailey High School       76.996772
Cabrera High School      83.154506
Figueroa High School     76.539974
Ford High School         77.672316
Griffin High School      84.229064
Hernandez High School    77.337408
Holden High School       83.429825
Huang High School        75.908735
Johnson High School      76.691117
Pena High School         83.372000
Rodriguez High School    76.612500
Shelton High School      82.917411
Thomas High School       83.087886
Wilson High School       83.724422
Wright High School       84.010288
Name: math_score, dtype: float64

In [246]:
junior = school_data_complete.loc[school_data_complete["grade"]== "11th"]
junior_math = junior.groupby(["school_name"])
avg_jr_math = junior_math.math_score.mean()
avg_jr_math

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

In [247]:
senior = school_data_complete.loc[school_data_complete["grade"]== "12th"]
senior_math = senior.groupby(["school_name"])
avg_sr_math = senior_math.math_score.mean()
avg_sr_math

school_name
Bailey High School       76.492218
Cabrera High School      83.277487
Figueroa High School     77.151369
Ford High School         76.179963
Griffin High School      83.356164
Hernandez High School    77.186567
Holden High School       82.855422
Huang High School        77.225641
Johnson High School      76.863248
Pena High School         84.121547
Rodriguez High School    77.690748
Shelton High School      83.778976
Thomas High School       83.497041
Wilson High School       83.035794
Wright High School       83.644986
Name: math_score, dtype: float64

In [248]:
bygrade_math = pd.DataFrame({"9th Grade": avg_fresh_math, "10th Grade": avg_soph_math, "11th Grade": avg_jr_math, "12th Grade": avg_sr_math})
bygrade_math

                       9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School     77.083676   76.996772   77.515588   76.492218
Cabrera High School    83.094697   83.154506   82.765560   83.277487
Figueroa High School   76.403037   76.539974   76.884344   77.151369
Ford High School       77.361345   77.672316   76.918058   76.179963
Griffin High School    82.044010   84.229064   83.842105   83.356164
Hernandez High School  77.438495   77.337408   77.136029   77.186567
Holden High School     83.787402   83.429825   85.000000   82.855422
Huang High School      77.027251   75.908735   76.446602   77.225641
Johnson High School    77.187857   76.691117   77.491653   76.863248
Pena High School       83.625455   83.372000   84.328125   84.121547
Rodriguez High School  76.859966   76.612500   76.395626   77.690748
Shelton High School    83.420755   82.917411   83.383495   83.778976
Thomas High School     83.590022   83.087886   83.498795   83.497041
Wilson High School     83.085578   83.724422   83.195326   83.035794
Wright High School     83.264706   84.010288   83.836782   83.644986

In [249]:
#freshmen = school_data_complete.loc[school_data_complete["grade"]== "9th"]
freshmen_read = freshmen.groupby(["school_name"])
avg_fresh_read = freshmen_read.reading_score.mean()
avg_fresh_read

school_name
Bailey High School       81.303155
Cabrera High School      83.676136
Figueroa High School     81.198598
Ford High School         80.632653
Griffin High School      83.369193
Hernandez High School    80.866860
Holden High School       83.677165
Huang High School        81.290284
Johnson High School      81.260714
Pena High School         83.807273
Rodriguez High School    80.993127
Shelton High School      84.122642
Thomas High School       83.728850
Wilson High School       83.939778
Wright High School       83.833333
Name: reading_score, dtype: float64

In [250]:
#sophomore = school_data_complete.loc[school_data_complete["grade"]== "10th"]
sophomore_read = sophomore.groupby(["school_name"])
avg_soph_read = sophomore_math.reading_score.mean()
avg_soph_read

school_name
Bailey High School       80.907183
Cabrera High School      84.253219
Figueroa High School     81.408912
Ford High School         81.262712
Griffin High School      83.706897
Hernandez High School    80.660147
Holden High School       83.324561
Huang High School        81.512386
Johnson High School      80.773431
Pena High School         83.612000
Rodriguez High School    80.629808
Shelton High School      83.441964
Thomas High School       84.254157
Wilson High School       84.021452
Wright High School       83.812757
Name: reading_score, dtype: float64

In [251]:
#junior = school_data_complete.loc[school_data_complete["grade"]== "11th"]
junior_read = junior.groupby(["school_name"])
avg_jr_read = junior_read.reading_score.mean()
avg_jr_read

school_name
Bailey High School       80.945643
Cabrera High School      83.788382
Figueroa High School     80.640339
Ford High School         80.403642
Griffin High School      84.288089
Hernandez High School    81.396140
Holden High School       83.815534
Huang High School        81.417476
Johnson High School      80.616027
Pena High School         84.335938
Rodriguez High School    80.864811
Shelton High School      84.373786
Thomas High School       83.585542
Wilson High School       83.764608
Wright High School       84.156322
Name: reading_score, dtype: float64

In [252]:
#senior = school_data_complete.loc[school_data_complete["grade"]== "12th"]
senior_read = senior.groupby(["school_name"])
avg_sr_read = senior_math.reading_score.mean()
avg_soph_read

school_name
Bailey High School       80.907183
Cabrera High School      84.253219
Figueroa High School     81.408912
Ford High School         81.262712
Griffin High School      83.706897
Hernandez High School    80.660147
Holden High School       83.324561
Huang High School        81.512386
Johnson High School      80.773431
Pena High School         83.612000
Rodriguez High School    80.629808
Shelton High School      83.441964
Thomas High School       84.254157
Wilson High School       84.021452
Wright High School       83.812757
Name: reading_score, dtype: float64

In [253]:
bygrade_read = pd.DataFrame({"9th Grade": avg_fresh_read, "10th Grade": avg_soph_read, "11th Grade": avg_jr_read, "12th Grade": avg_sr_read})
bygrade_read

                       9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School     81.303155   80.907183   80.945643   80.912451
Cabrera High School    83.676136   84.253219   83.788382   84.287958
Figueroa High School   81.198598   81.408912   80.640339   81.384863
Ford High School       80.632653   81.262712   80.403642   80.662338
Griffin High School    83.369193   83.706897   84.288089   84.013699
Hernandez High School  80.866860   80.660147   81.396140   80.857143
Holden High School     83.677165   83.324561   83.815534   84.698795
Huang High School      81.290284   81.512386   81.417476   80.305983
Johnson High School    81.260714   80.773431   80.616027   81.227564
Pena High School       83.807273   83.612000   84.335938   84.591160
Rodriguez High School  80.993127   80.629808   80.864811   80.376426
Shelton High School    84.122642   83.441964   84.373786   82.781671
Thomas High School     83.728850   84.254157   83.585542   83.831361
Wilson High School     83.939778   84.021452   83.764608   84.317673
Wright High School     83.833333   83.812757   84.156322   84.073171

In [254]:
bins = [0, 584, 629, 644, 675, 1000, 2000, 5000]

# Create the names for the five bins
group_names = ["<$584", "$585-629", "$630-644", "$645-675", "Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [255]:
scores_by_spend = pd.DataFrame({"Per Student Budget": budget_per_stud, "Average Math Score": avg_math_scores, "Average Reading Score": avg_read_scores, "% Pass Math":avg_pass_math, "% Pass Reading": avg_pass_read, "% Overall Passing": group_ttl_pass})
scores_by_spend["Spending Ranges (Per Student)"] = pd.cut(scores_by_spend["Per Student Budget"], bins, labels=group_names, include_lowest=True)
scores_by_spend = scores_by_spend.groupby("Spending Ranges (Per Student)")
scores_by_spend.max()

,Per Student Budget,Average Math Score,Average Reading Score,% Pass Math,% Pass Reading,% Overall Passing
Spending Ranges (Per Student),,,,,,
<$584,583.0,83.803279,83.989488,94.133477,97.039828,91.334769
$585-629,628.0,83.839917,84.044699,94.594595,97.138965,90.599455
$630-644,644.0,83.418349,83.848930,93.272171,97.308869,90.948012
$645-675,655.0,77.289752,81.182722,66.752967,81.316421,53.539172
Small (<1000),NaN,NaN,NaN,NaN,NaN,NaN
Medium (1000-2000),NaN,NaN,NaN,NaN,NaN,NaN
Large (2000-5000),NaN,NaN,NaN,NaN,NaN,NaN

In [256]:
#bins = [0, 

# Create the names for the five bins
#group_names = []

In [257]:
scores_by_size = pd.DataFrame({"Total Students": per_school_counts, "Average Math Score": avg_math_scores, "Average Reading Score": avg_read_scores, "% Pass Math":avg_pass_math, "% Pass Reading": avg_pass_read, "% Overall Passing": group_ttl_pass})
scores_by_size["School Size"] = pd.cut(scores_by_size["Total Students"], bins, labels=group_names, include_lowest=True)
scores_by_size = scores_by_size.groupby("School Size")
scores_by_size.max()

,Total Students,Average Math Score,Average Reading Score,% Pass Math,% Pass Reading,% Overall Passing
School Size,,,,,,
<$584,427.0,83.803279,83.814988,92.505855,96.252927,89.227166
$585-629,NaN,NaN,NaN,NaN,NaN,NaN
$630-644,NaN,NaN,NaN,NaN,NaN,NaN
$645-675,NaN,NaN,NaN,NaN,NaN,NaN
Small (<1000),962.0,83.839917,84.044699,94.594595,95.945946,90.540541
Medium (1000-2000),1858.0,83.682222,83.975780,94.133477,97.308869,91.334769
Large (2000-5000),4976.0,83.274201,83.989488,93.867718,96.539641,90.582567

In [258]:
bins = [0, "Charter","District"]

# Create the names for the five bins
group_names = ["Charter", "District"]

In [260]:
scores_by_type = pd.DataFrame({"School Types": school_types, "Average Math Score": avg_math_scores, "Average Reading Score": avg_read_scores, "% Pass Math":avg_pass_math, "% Pass Reading": avg_pass_read, "% Overall Passing": group_ttl_pass})
scores_by_type["School Type"] = pd.cut(scores_by_size["School Types"], bins, labels=group_names, include_lowest=True)
scores_by_type = scores_by_type.groupby("School Type")
scores_by_type.max()

KeyError: 'Column not found: School Types'