In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Files to Load
schools = 'Resources/schools_complete.csv'
students = 'Resources/students_complete.csv'

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(schools)
student_data = pd.read_csv(students)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
school_data_complete.describe() #complete number breakdown

,Student ID,reading_score,math_score,School ID,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

In [4]:
math_avg = school_data_complete["math_score"].mean() # math avg
math_avg

78.98537145774827

In [5]:
read_avg = school_data_complete["reading_score"].mean() # reading avg
read_avg

81.87784018381414

In [6]:
total_schools = school_data_complete["school_name"].unique() #total num of schools
len(total_schools)

15

In [7]:
total_budget = school_data_complete["budget"].unique() #total budget
totalbud = total_budget.sum()
currency = "${:,.2f}".format(int(totalbud))
print(currency)

$24,649,428.00

In [8]:
total_students = school_data_complete["gender"].value_counts() #total num of students
totalstud = total_students.sum()
studformat = "{:,}".format(int(totalstud))
print(studformat)

39,170

In [9]:
pass_math = school_data_complete.loc[school_data_complete["math_score"]>= 70, :]
numb_passmath = pass_math["student_name"].value_counts()
math_per = (numb_passmath.sum()/totalstud)*100
print(math_per)

74.9808526933878

In [10]:
pass_read = school_data_complete.loc[school_data_complete["reading_score"]>= 70, :]
numb_passread = pass_read["student_name"].value_counts()
read_per = (numb_passread.sum()/totalstud)*100
print(read_per)

85.80546336482001

In [11]:
pass_total = school_data_complete.loc[(school_data_complete["math_score"]>= 70) & (school_data_complete["reading_score"]>= 70), :]
numbpass_total = pass_total["student_name"].value_counts()
pass_per = (numbpass_total.sum()/totalstud)*100
print(pass_per)

65.17232575950983

In [12]:
district_summary = pd.DataFrame({"Total Schools": [len(total_schools)], "Total Students": [studformat], "Total Budget": [currency], "Average Math Score": [math_avg], "Average Reading Score": [read_avg], "% Passing Math": [math_per], "% Passing Reading": [read_per], "% Overall Passing": [pass_per]})
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [13]:
school_types = school_data.set_index(["school_name"])["type"] #SCHOOL TYPES
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [14]:
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"] #EACH SCHOOL BUDGET
per_school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [15]:
per_school_counts = school_data_complete["school_name"].value_counts() #NUMB OF STUDENTS PER SCHL
per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [16]:
budget_per_stud = per_school_budget / per_school_counts #AMT PER STUD
print(budget_per_stud)

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [17]:
avg_math_scores = school_data_complete.groupby(["school_name"]).mean()["math_score"]#AVG MATH SCORES
avg_math_scores

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [18]:
avg_read_scores = school_data_complete.groupby(["school_name"]).mean()["reading_score"]#AVG READ SCORES
avg_read_scores

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [19]:
pass_math = school_data_complete.loc[school_data_complete["math_score"]>= 70]
grp_pass_math = pass_math.groupby(["school_name"])
count_pass_math = grp_pass_math.math_score.count()
avg_pass_math = (count_pass_math / per_school_counts) *100
avg_pass_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: math_score, dtype: int64

In [20]:
pass_read = school_data_complete.loc[school_data_complete["reading_score"]>= 70]
grp_pass_read = pass_read.groupby(["school_name"])
count_pass_read = grp_pass_read.reading_score.count()
avg_pass_read = (count_pass_read / per_school_counts) *100
avg_pass_read

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [51]:
ttl_per_pass = school_data_complete.loc[(school_data_complete["reading_score"]>= 70) & (school_data_complete["math_score"]>= 70)]
grp_ttl_pass = ttl_per_pass.groupby(["school_name"]).count()
#count_ttl_pass = grp_ttl_pass.mean()
#avg_ttl_pass = (grp_ttl_pass / per_school_counts) *100
#avg_ttl_pass
#grp_ttl_pass = pd.DataFrame(ttl_per_pass.groupby(["school_name"]).mean())
group_ttl_pass = (grp_ttl_pass.math_score / per_school_counts)
group_ttl_pass

Bailey High School       0.546423
Cabrera High School      0.913348
Figueroa High School     0.532045
Ford High School         0.542899
Griffin High School      0.905995
Hernandez High School    0.535275
Holden High School       0.892272
Huang High School        0.535139
Johnson High School      0.535392
Pena High School         0.905405
Rodriguez High School    0.529882
Shelton High School      0.898921
Thomas High School       0.909480
Wilson High School       0.905826
Wright High School       0.903333
dtype: float64

In [39]:
school_summary = pd.DataFrame({"School Name": grp_ttl_pass.index, "Avg. Pass Read": avg_pass_read})
school_summary

                                 School Name  Avg. Pass Read
Bailey High School        Bailey High School       81.933280
Cabrera High School      Cabrera High School       97.039828
Figueroa High School    Figueroa High School       80.739234
Ford High School            Ford High School       79.299014
Griffin High School      Griffin High School       97.138965
Hernandez High School  Hernandez High School       80.862999
Holden High School        Holden High School       96.252927
Huang High School          Huang High School       81.316421
Johnson High School      Johnson High School       81.222432
Pena High School            Pena High School       95.945946
Rodriguez High School  Rodriguez High School       80.220055
Shelton High School      Shelton High School       95.854628
Thomas High School        Thomas High School       97.308869
Wilson High School        Wilson High School       96.539641
Wright High School        Wright High School       96.611111

In [ ]:
["School Name"]