In [54]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
schools = 'Resources/schools_complete.csv'
students = 'Resources/students_complete.csv'

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(schools)
student_data = pd.read_csv(students)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [55]:
var = "%"
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [56]:
school_data_complete.describe() #complete number breakdown

,Student ID,reading_score,math_score,School ID,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

In [57]:
math_avg = school_data_complete["math_score"].mean # math avg
math_avg

78.98537145774827

In [58]:
read_avg = school_data_complete["reading_score"].mean() # reading avg
read_avg

81.87784018381414

In [91]:
total_schools = school_data_complete["school_name"].unique() #total num of schools
len(total_schools)

15

In [135]:
total_budget = school_data_complete["budget"].unique() #total budget
totalbud = total_budget.sum()
currency = "${:,.2f}".format(int(totalbud))
print(currency)

$24,649,428.00

In [98]:
total_students = school_data_complete["gender"].value_counts() #total num of students
total_students.sum()

39170

In [128]:
pass_math = school_data_complete.loc[school_data_complete["math_score"]>= 70, :]
numb_passmath = pass_math["student_name"].value_counts()
math_per = (numb_passmath.sum()/39170)*100
print(math_per)

74.9808526933878

In [127]:
pass_read = school_data_complete.loc[school_data_complete["reading_score"]>= 70, :]
numb_passread = pass_read["student_name"].value_counts()
read_per = (numb_passread.sum()/39170)*100
print(read_per)

85.80546336482001

In [131]:

pass_total = school_data_complete.loc[(school_data_complete["math_score"]>= 70)& (school_data_complete["reading_score"]>= 70), :]
numbpass_total = pass_total["student_name"].value_counts()
pass_per = (numbpass_total.sum()/39170)*100
print(pass_per)

65.17232575950983 %